.info {
  width: 350px;
  padding: 30px 20px;

  background-color: #ffffff;
}

.info__svg-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.info__svg {
  fill: #a2a7ab;

  &--active {
    fill: #e83936;
  }
}

.info__text {
  display: none;

  &--active {
    display: block;
  }
}

.info__strong {
  font-weight: 700;
}
